<% include partials/header %>

    <h1>ERROR</h1>
    <h2><img src= "https://http.cat/415"</h2>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="summery text-center">ERROR</p>
            </div>
        </div>
    </div>
        
<% include partials/footer %>